<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="acae6145-32a7-4818-b892-d506dff27b60" Alias="countriesFolder" Level="2">
  <Info>
    <Name>Countries Folder</Name>
    <Icon>icon-folder color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="de288057-5a79-49b7-9105-c23735776192" SortOrder="0">country</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>