<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39f196e3-5e66-411e-ae87-ca1ca9ea5f24" Alias="documentsFolder" Level="2">
  <Info>
    <Name>Documents Folder</Name>
    <Icon>icon-folder color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>