<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="349202b7-21d2-4c31-83b4-08f85f0940b7" Alias="erasurePolicies" Level="2">
  <Info>
    <Name>Erasure Policies Folder</Name>
    <Icon>icon-folder color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="7dc1f932-a268-4916-8f67-a08252e88999" SortOrder="0">predefinedEventsFolder</ContentType>
    <ContentType Key="31a61162-32b5-40c2-89ad-d2bcc157ef39" SortOrder="1">predefinedPeriodsFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>