<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="974028ae-c9f0-47a1-ac69-dca70ab31ff5" Alias="erasurePoliciesFolder" Level="2">
  <Info>
    <Name>Erasure Policies Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="974028ae-c9f0-47a1-ac69-dca70ab31ff5" SortOrder="0">erasurePoliciesFolder</ContentType>
    <ContentType Key="4121f4f6-bb9e-4b7b-ba6a-609b6ff1f590" SortOrder="1">erasurePolicy</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>