<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4121f4f6-bb9e-4b7b-ba6a-609b6ff1f590" Alias="erasurePolicy" Level="2">
  <Info>
    <Name>Erasure Policy</Name>
    <Icon>icon-trash color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Records+Structure</Folder>
    <Compositions>
      <Composition Key="e525c0b7-d043-4f6b-8258-35e08ddf62c2">description</Composition>
      <Composition Key="2df6f5ce-4071-4c89-a113-fa58b4a692ba">test</Composition>
      <Composition Key="5476b490-bd25-4cc1-8d3a-3672d0b6b47a">titleSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e2cb4ee5-26d1-437c-b676-86dddaae29b7</Key>
      <Name>Data Subjects</Name>
      <Alias>dataSubjects</Alias>
      <Definition>f1d4e204-ff45-4557-9336-70998c43f495</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e63a2260-2ecc-4701-a6dc-e4d81f194be3</Key>
      <Name>IT-Systems</Name>
      <Alias>iTSystems</Alias>
      <Definition>653b5953-363d-4613-96e9-8b6fcd0f0b93</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6d2cb423-7dbc-4997-aaa6-cfde434857ec</Key>
      <Name>Processing Activities</Name>
      <Alias>processingActivities</Alias>
      <Definition>4eaa6bb2-42da-4b88-944a-da6abd1fc600</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Relations</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>