<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="14dafdb7-6f82-4f37-9b8f-99a08bb9a0ac" Alias="legalBasisFolder" Level="2">
  <Info>
    <Name>Legal Basis Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a600ef5b-70a7-45d6-ba7b-4caf90b069db" SortOrder="0">legalBasis</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>