<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="01837cf0-da53-488b-a214-ca87d6136999" Alias="organizationsFolder" Level="2">
  <Info>
    <Name>Organizations Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6df898ea-0163-4794-a24b-aae192002955" SortOrder="0">organizationsRolesFolder</ContentType>
    <ContentType Key="13ea0fe2-afc5-4701-9084-d35a209766af" SortOrder="1">organizationFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>