<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6df898ea-0163-4794-a24b-aae192002955" Alias="organizationsRolesFolder" Level="2">
  <Info>
    <Name>Organizations Roles Folder</Name>
    <Icon>icon-folder color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="39f6998f-8a4c-4c87-aec1-fe46296d3cb8" SortOrder="0">organizationRole</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>