<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="700b1366-aceb-4a32-b240-0c2e4c91138f" Alias="personalData" Level="2">
  <Info>
    <Name>Personal Data</Name>
    <Icon>icon-art-easel color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Records+Structure</Folder>
    <Compositions>
      <Composition Key="e525c0b7-d043-4f6b-8258-35e08ddf62c2">description</Composition>
      <Composition Key="2df6f5ce-4071-4c89-a113-fa58b4a692ba">test</Composition>
      <Composition Key="5476b490-bd25-4cc1-8d3a-3672d0b6b47a">titleSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>be8c6c4e-6634-4834-bf90-0cb88a9c4074</Key>
      <Name>Data Subjects</Name>
      <Alias>dataSubjects</Alias>
      <Definition>f1d4e204-ff45-4557-9336-70998c43f495</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db77bc7c-3168-4888-b1a8-c97010264a39</Key>
      <Name>IT-Systems</Name>
      <Alias>iTSystems</Alias>
      <Definition>653b5953-363d-4613-96e9-8b6fcd0f0b93</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>762a091a-4310-4311-8ff5-f9b51bbd8d2f</Key>
      <Name>Proccessing Activities</Name>
      <Alias>proccessingActivities</Alias>
      <Definition>4eaa6bb2-42da-4b88-944a-da6abd1fc600</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Relations</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>