<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6fdf75a-a685-4056-9aa9-de8f9bdc1d78" Alias="personalDataFolder" Level="2">
  <Info>
    <Name>Personal Data Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a6fdf75a-a685-4056-9aa9-de8f9bdc1d78" SortOrder="0">personalDataFolder</ContentType>
    <ContentType Key="700b1366-aceb-4a32-b240-0c2e4c91138f" SortOrder="1">personalData</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>