<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7dc1f932-a268-4916-8f67-a08252e88999" Alias="predefinedEventsFolder" Level="2">
  <Info>
    <Name>Predefined Events Folder</Name>
    <Icon>icon-folder color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="bb2bfc53-845a-4786-977f-22b5996bf926" SortOrder="0">predefinedEvent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>