<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c3c37c5c-8a15-4bdf-b653-d7da15621b20" Alias="predefinedPeriod" Level="2">
  <Info>
    <Name>Predefined Period</Name>
    <Icon>icon-paper-plane color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Records+Structure</Folder>
    <Compositions>
      <Composition Key="5476b490-bd25-4cc1-8d3a-3672d0b6b47a">titleSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>