<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bb2bfc53-845a-4786-977f-22b5996bf926" Alias="predefinedEvent" Level="2">
  <Info>
    <Name>Predefined Event</Name>
    <Icon>icon-paper-plane-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Records+Structure</Folder>
    <Compositions>
      <Composition Key="5476b490-bd25-4cc1-8d3a-3672d0b6b47a">titleSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>