<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f4a6339-2b08-4c42-824b-62dc3911adac" Alias="processingActivity" Level="2">
  <Info>
    <Name>Processing Activity</Name>
    <Icon>icon-activity color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Records+Structure</Folder>
    <Compositions>
      <Composition Key="e525c0b7-d043-4f6b-8258-35e08ddf62c2">description</Composition>
      <Composition Key="2df6f5ce-4071-4c89-a113-fa58b4a692ba">test</Composition>
      <Composition Key="5476b490-bd25-4cc1-8d3a-3672d0b6b47a">titleSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>597615a1-64fc-4970-9c1b-f141e325613e</Key>
      <Name>Industries</Name>
      <Alias>industries</Alias>
      <Definition>2c5c52fb-8cca-4116-8564-647e98f53983</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Relations</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>