<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d96b5d1-9080-483e-bdc1-119c0cff89a8" Alias="processingActivityFolder" Level="2">
  <Info>
    <Name>Processing Activity Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8d96b5d1-9080-483e-bdc1-119c0cff89a8" SortOrder="0">processingActivityFolder</ContentType>
    <ContentType Key="4f4a6339-2b08-4c42-824b-62dc3911adac" SortOrder="1">processingActivity</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>