<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3783ae8a-3258-42a3-a89f-95630bcb6a34" Alias="properties" Level="2">
  <Info>
    <Name>Properties Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8d96b5d1-9080-483e-bdc1-119c0cff89a8" SortOrder="0">processingActivityFolder</ContentType>
    <ContentType Key="bb327233-6548-4d4e-9f44-9e06bebda174" SortOrder="1">purposesOfProcessingFolder</ContentType>
    <ContentType Key="25a90535-99a2-43fb-a7b8-911ece91454b" SortOrder="2">iTSystemFolder</ContentType>
    <ContentType Key="17b3c2d7-61fc-4b09-9b45-29d0286ec8d2" SortOrder="3">categoriesOfDataSubjectsFolder</ContentType>
    <ContentType Key="974028ae-c9f0-47a1-ac69-dca70ab31ff5" SortOrder="4">erasurePoliciesFolder</ContentType>
    <ContentType Key="a6fdf75a-a685-4056-9aa9-de8f9bdc1d78" SortOrder="5">personalDataFolder</ContentType>
    <ContentType Key="2aafd7a1-850b-463e-a8e8-8f67baf9e9f5" SortOrder="6">categoriesOfRecipientsFolder</ContentType>
    <ContentType Key="14dafdb7-6f82-4f37-9b8f-99a08bb9a0ac" SortOrder="7">legalBasisFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>