<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eca247b4-d790-472f-a64c-4d4e0d00bb74" Alias="purposeOfProcessing" Level="2">
  <Info>
    <Name>Purpose of processing</Name>
    <Icon>icon-console color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Records+Structure</Folder>
    <Compositions>
      <Composition Key="2df6f5ce-4071-4c89-a113-fa58b4a692ba">test</Composition>
      <Composition Key="5476b490-bd25-4cc1-8d3a-3672d0b6b47a">titleSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c907e462-65df-452a-9bf1-76adaab191b3</Key>
      <Name>Industries</Name>
      <Alias>industries</Alias>
      <Definition>2c5c52fb-8cca-4116-8564-647e98f53983</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>23342582-8d75-4daa-a667-736bd6008131</Key>
      <Name>IT-Systems</Name>
      <Alias>iTSystems</Alias>
      <Definition>653b5953-363d-4613-96e9-8b6fcd0f0b93</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30daeb60-8bc1-466e-8976-83adba6ba7f8</Key>
      <Name>Processing Activities</Name>
      <Alias>processingActivities</Alias>
      <Definition>4eaa6bb2-42da-4b88-944a-da6abd1fc600</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Relations</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>