<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b12e164-e162-4992-a016-4f97bbffea49" Alias="recipientCategory" Level="2">
  <Info>
    <Name>Recipient Category</Name>
    <Icon>icon-reception color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Records+Structure</Folder>
    <Compositions>
      <Composition Key="e525c0b7-d043-4f6b-8258-35e08ddf62c2">description</Composition>
      <Composition Key="2df6f5ce-4071-4c89-a113-fa58b4a692ba">test</Composition>
      <Composition Key="5476b490-bd25-4cc1-8d3a-3672d0b6b47a">titleSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8ac5ffce-4c2e-4eeb-89ca-c2383e5ab1fb</Key>
      <Name>IT-Systems</Name>
      <Alias>iTSystems</Alias>
      <Definition>653b5953-363d-4613-96e9-8b6fcd0f0b93</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>954c35d6-78da-409f-b07a-a639232988a8</Key>
      <Name>Processing Activities</Name>
      <Alias>processingActivities</Alias>
      <Definition>4eaa6bb2-42da-4b88-944a-da6abd1fc600</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Relations</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Relations</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>