<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18d6204d-0ab5-4da9-a435-5f74e2398c18" Alias="recordsDefinitionFolder" Level="2">
  <Info>
    <Name>Records Definition Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="595aa68f-fe9c-4bff-95b4-62bf040918b6" SortOrder="0">recordDefinition</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>