<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="acbd935f-cd39-45ce-a5b0-8ec65be6ac92" Alias="recordsFolder" Level="2">
  <Info>
    <Name>Records Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3783ae8a-3258-42a3-a89f-95630bcb6a34" SortOrder="0">properties</ContentType>
    <ContentType Key="18d6204d-0ab5-4da9-a435-5f74e2398c18" SortOrder="1">recordsDefinitionFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>