<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a953ad77-7aa6-4f58-a627-e4fdfc75fed9" Alias="riskLevel" Level="2">
  <Info>
    <Name>Risk-Level</Name>
    <Icon>icon-speed-gauge color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Records+Structure</Folder>
    <Compositions>
      <Composition Key="5476b490-bd25-4cc1-8d3a-3672d0b6b47a">titleSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>