<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fff8bd57-0c52-4d2e-ba57-6bd33a3f1ad4" Alias="riskLevelsFolder" Level="2">
  <Info>
    <Name>Risk levels Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a953ad77-7aa6-4f58-a627-e4fdfc75fed9" SortOrder="0">riskLevel</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>