<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80e854fc-c444-45bc-b9df-b26c01ac706c" Alias="settingsFolder" Level="2">
  <Info>
    <Name>Settings Folder</Name>
    <Icon>icon-folder-close color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Folders</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fff8bd57-0c52-4d2e-ba57-6bd33a3f1ad4" SortOrder="0">riskLevelsFolder</ContentType>
    <ContentType Key="acae6145-32a7-4818-b892-d506dff27b60" SortOrder="1">countriesFolder</ContentType>
    <ContentType Key="4ab22211-2772-47d4-bedc-6e1cf0bdcd9d" SortOrder="2">countryCategoriesFolder</ContentType>
    <ContentType Key="349202b7-21d2-4c31-83b4-08f85f0940b7" SortOrder="3">erasurePolicies</ContentType>
    <ContentType Key="d98a46bc-354a-4ab3-b06f-ee76738a147c" SortOrder="4">industriesFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>