<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2df6f5ce-4071-4c89-a113-fa58b4a692ba" Alias="test" Level="2">
  <Info>
    <Name>Predefined Property</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>General</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b0b60377-0cce-4f50-ade7-f81baa51c0b0</Key>
      <Name>Risk-levels</Name>
      <Alias>riskLevels</Alias>
      <Definition>043e2a36-ddec-4362-80bf-dc1fd51ad161</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Values</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4701be4-9542-4bbc-b5c7-0ca111c69ae0</Key>
      <Name>Suggested</Name>
      <Alias>suggested</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Values</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Values</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>