<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0892c34c-be86-477d-bed4-ac7edbf78748" Alias="Country - Category - Content Picker" Level="1">
  <Info>
    <Name>Country - Category - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>