<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ac637c2-f98f-47c3-9854-0903aebb7fda" Alias="Country - Category - Multinode Treepicker" Level="1">
  <Info>
    <Name>Country - Category - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/fcd671f8955d410c84b0be5076f1db75"
  },
  "Filter": "countryCategory",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>