<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1d4e204-ff45-4557-9336-70998c43f495" Alias="Data Subjects - Multinode Treepicker" Level="1">
  <Info>
    <Name>Data Subjects - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/e44c8963ad2349559ae6cf53152cbb57"
  },
  "Filter": "categoryOfDataSubject",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>