<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c5c52fb-8cca-4116-8564-647e98f53983" Alias="Industries - Multinode Treepicker" Level="1">
  <Info>
    <Name>Industries - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/518948c3c89c4b26bedc29e16253c3ee"
  },
  "Filter": "industry",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>