<?xml version="1.0" encoding="utf-8"?>
<DataType Key="653b5953-363d-4613-96e9-8b6fcd0f0b93" Alias="IT-Systems - Multinode Treepicker" Level="1">
  <Info>
    <Name>IT-Systems - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/4f26380eb1a44025ab7615ceef89bb85"
  },
  "Filter": "iTSystem",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>