<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df793987-e2d0-43b2-8c08-ec6e90541c9d" Alias="Organization - Test - Eye Dropper Color Picker" Level="1">
  <Info>
    <Name>Organization - Test - Eye Dropper Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": false,
  "ShowPalette": false
}]]></Config>
</DataType>