<?xml version="1.0" encoding="utf-8"?>
<DataType Key="043e2a36-ddec-4362-80bf-dc1fd51ad161" Alias="Predefined Property - Risk-Level - Multinode Treepicker" Level="1">
  <Info>
    <Name>Predefined Property - Risk-Level - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/d9e057f6f17748498fbb77c4f632465a"
  },
  "Filter": "riskLevel",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>