<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4eaa6bb2-42da-4b88-944a-da6abd1fc600" Alias="Processing Activities - Multinode Treepicker" Level="1">
  <Info>
    <Name>Processing Activities - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/75a211d8c82e42b78a23629b2f5d88e5"
  },
  "Filter": "processingActivity",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>