<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45d48dc6-9998-423e-96c5-c4cd7c74d60e" Alias="Source - Multinode Treepicker" Level="1">
  <Info>
    <Name>Source - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/d4fd5ecc58b543be810a96d079cbdeea"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>