<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b4cd961-5aac-404c-9eee-8036716f761b" Alias="Adobe Creative Cloud" Level="4">
  <Info>
    <Parent Key="4f26380e-b1a4-4025-ab76-15ceef89bb85">IT-Systems</Parent>
    <Path>/Records/PrefefinedProperties/ITSystems/AdobeCreativeCloud</Path>
    <Trashed>false</Trashed>
    <ContentType>iTSystem</ContentType>
    <CreateDate>2021-07-30T14:21:57</CreateDate>
    <NodeName Default="Adobe Creative Cloud" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <descriptionDA>
      <Value><![CDATA[]]></Value>
    </descriptionDA>
    <descriptionEN>
      <Value><![CDATA[]]></Value>
    </descriptionEN>
    <industries>
      <Value><![CDATA[]]></Value>
    </industries>
    <riskLevels>
      <Value><![CDATA[]]></Value>
    </riskLevels>
    <suggested>
      <Value><![CDATA[]]></Value>
    </suggested>
    <title_da>
      <Value><![CDATA[Adobe Creative Cloud]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Adobe Creative Cloud]]></Value>
    </title_en>
  </Properties>
</Content>