<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b37ab8d-9a33-45be-b4fc-a2c4019df26a" Alias="Apple iWork (Pages, Numbers and Keynote)lkjhlkjh" Level="4">
  <Info>
    <Parent Key="4f26380e-b1a4-4025-ab76-15ceef89bb85">IT-Systems</Parent>
    <Path>/Records/PrefefinedProperties/ITSystems/AppleIWorkPagesNumbersAndKeynoteLkjhlkjh</Path>
    <Trashed>false</Trashed>
    <ContentType>iTSystem</ContentType>
    <CreateDate>2021-07-30T14:22:11</CreateDate>
    <NodeName Default="Apple iWork (Pages, Numbers and Keynote)lkjhlkjh" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <descriptionDA>
      <Value><![CDATA[]]></Value>
    </descriptionDA>
    <descriptionEN>
      <Value><![CDATA[]]></Value>
    </descriptionEN>
    <industries>
      <Value><![CDATA[umb://document/b3f143fb29ca412b94332a62ef639f20,umb://document/c8c5b7b7f2054a83b80800897d6241e6]]></Value>
    </industries>
    <riskLevels>
      <Value><![CDATA[umb://document/94a5ade0210644aa86f00600289ab65b]]></Value>
    </riskLevels>
    <suggested>
      <Value><![CDATA[1]]></Value>
    </suggested>
    <title_da>
      <Value><![CDATA[]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Apple iWork (Pages, Numbers and Keynote)]]></Value>
    </title_en>
  </Properties>
</Content>