<?xml version="1.0" encoding="utf-8"?>
<Content Key="6426df9e-03f0-4225-bbf8-380aeeff0982" Alias="(b)" Level="4">
  <Info>
    <Parent Key="e819695e-bff4-4bf4-a0d1-61e5585e11c2">Legal Basis</Parent>
    <Path>/Records/PrefefinedProperties/LegalBasis/b</Path>
    <Trashed>false</Trashed>
    <ContentType>legalBasis</ContentType>
    <CreateDate>2021-09-02T11:45:04</CreateDate>
    <NodeName Default="(b)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <danish>
      <Value><![CDATA[]]></Value>
    </danish>
    <english>
      <Value><![CDATA[]]></Value>
    </english>
    <industries>
      <Value><![CDATA[]]></Value>
    </industries>
    <relatedToSensitiveData>
      <Value><![CDATA[0]]></Value>
    </relatedToSensitiveData>
  </Properties>
</Content>