<?xml version="1.0" encoding="utf-8"?>
<Content Key="21a784b5-3c25-40b3-bab1-659f7fc68d65" Alias="Categories of data subjects" Level="4">
  <Info>
    <Parent Key="ba5f30b5-6f48-4f9c-9b90-8bda6f2bf08d">Record as a Controller</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAController/CategoriesOfDataSubjects</Path>
    <Trashed>false</Trashed>
    <ContentType>chapter</ContentType>
    <CreateDate>2021-08-31T13:39:32</CreateDate>
    <NodeName Default="Categories of data subjects" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <source>
      <Value><![CDATA[umb://document/e44c8963ad2349559ae6cf53152cbb57]]></Value>
    </source>
    <title_da>
      <Value><![CDATA[Categories of data subjects]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Categories of data subjects]]></Value>
    </title_en>
  </Properties>
</Content>