<?xml version="1.0" encoding="utf-8"?>
<Content Key="e44c8963-ad23-4955-9ae6-cf53152cbb57" Alias="Categories of data subjects" Level="3">
  <Info>
    <Parent Key="d4fd5ecc-58b5-43be-810a-96d079cbdeea">Prefefined properties</Parent>
    <Path>/Records/PrefefinedProperties/CategoriesOfDataSubjects</Path>
    <Trashed>false</Trashed>
    <ContentType>categoriesOfDataSubjectsFolder</ContentType>
    <CreateDate>2021-08-31T09:40:18</CreateDate>
    <NodeName Default="Categories of data subjects" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>