<?xml version="1.0" encoding="utf-8"?>
<Content Key="73f3df0b-8ec3-4681-81f5-147ede72d87e" Alias="Controller" Level="4">
  <Info>
    <Parent Key="d81d04bb-17fa-4b69-bd70-ab098f0d8117">Purposes of processing</Parent>
    <Path>/Records/PrefefinedProperties/PurposesOfProcessing/Controller</Path>
    <Trashed>false</Trashed>
    <ContentType>purposesOfProcessingFolder</ContentType>
    <CreateDate>2021-09-08T11:53:34</CreateDate>
    <NodeName Default="Controller" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>