<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d05c209-2899-4055-a490-a600f3a7fb63" Alias="Countries" Level="2">
  <Info>
    <Parent Key="08c67d86-5dbe-44e1-a64a-36e7ea33a9e7">Settings</Parent>
    <Path>/Settings/Countries</Path>
    <Trashed>false</Trashed>
    <ContentType>countriesFolder</ContentType>
    <CreateDate>2021-08-31T09:52:25</CreateDate>
    <NodeName Default="Countries" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>