<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c40ab5a-ba68-4463-b3a6-9930f01a8b4a" Alias="CPR-Number" Level="4">
  <Info>
    <Parent Key="bad5062a-4835-436a-9f0c-8ffaf73e3336">Personal Data</Parent>
    <Path>/Records/PrefefinedProperties/PersonalData/CPRNumber</Path>
    <Trashed>false</Trashed>
    <ContentType>personalData</ContentType>
    <CreateDate>2021-09-02T11:17:35</CreateDate>
    <NodeName Default="CPR-Number" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dataSubjects>
      <Value><![CDATA[]]></Value>
    </dataSubjects>
    <descriptionDA>
      <Value><![CDATA[]]></Value>
    </descriptionDA>
    <descriptionEN>
      <Value><![CDATA[]]></Value>
    </descriptionEN>
    <iTSystems>
      <Value><![CDATA[]]></Value>
    </iTSystems>
    <proccessingActivities>
      <Value><![CDATA[]]></Value>
    </proccessingActivities>
    <riskLevels>
      <Value><![CDATA[umb://document/b7b20e1fe0b14f79866e42dc24b9cc8f]]></Value>
    </riskLevels>
    <suggested>
      <Value><![CDATA[0]]></Value>
    </suggested>
    <title_da>
      <Value><![CDATA[CPR-Nummer]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[CPR-Number]]></Value>
    </title_en>
  </Properties>
</Content>