<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ffcf5aa-3b90-4520-81ae-9db0a7569082" Alias="Day" Level="4">
  <Info>
    <Parent Key="f0a69b58-9256-4bb4-b15d-6d42e73c68f6">Periods</Parent>
    <Path>/Settings/ErasurePolicies/Periods/Day</Path>
    <Trashed>false</Trashed>
    <ContentType>predefinedPeriod</ContentType>
    <CreateDate>2021-08-31T12:12:49</CreateDate>
    <NodeName Default="Day" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[Dag]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Day]]></Value>
    </title_en>
  </Properties>
</Content>