<?xml version="1.0" encoding="utf-8"?>
<Content Key="43034b5a-9c66-42f8-84bd-68f50cc225ea" Alias="Documents" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Documents</Path>
    <Trashed>false</Trashed>
    <ContentType>documentsFolder</ContentType>
    <CreateDate>2021-07-30T13:35:10</CreateDate>
    <NodeName Default="Documents" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>