<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3f143fb-29ca-412b-9433-2a62ef639f20" Alias="E-commerce (webshops and general online trading with goods or services)" Level="3">
  <Info>
    <Parent Key="518948c3-c89c-4b26-bedc-29e16253c3ee">Industries</Parent>
    <Path>/Settings/Industries/ECommerceWebshopsAndGeneralOnlineTradingWithGoodsOrServices</Path>
    <Trashed>false</Trashed>
    <ContentType>industry</ContentType>
    <CreateDate>2021-08-31T12:17:21</CreateDate>
    <NodeName Default="E-commerce (webshops and general online trading with goods or services)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[E-handel (webshops og generel online handel med varer eller ydelser)]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[E-commerce (webshops and general online trading with goods or services)]]></Value>
    </title_en>
  </Properties>
</Content>