<?xml version="1.0" encoding="utf-8"?>
<Content Key="17f159e2-4f9f-40de-ac31-e06872b3ab70" Alias="Erasure Policies" Level="2">
  <Info>
    <Parent Key="08c67d86-5dbe-44e1-a64a-36e7ea33a9e7">Settings</Parent>
    <Path>/Settings/ErasurePolicies</Path>
    <Trashed>false</Trashed>
    <ContentType>erasurePolicies</ContentType>
    <CreateDate>2021-08-31T12:09:35</CreateDate>
    <NodeName Default="Erasure Policies" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>