<?xml version="1.0" encoding="utf-8"?>
<Content Key="271f0a88-0421-4d62-a75e-ce9e19482cf9" Alias="Former employees" Level="4">
  <Info>
    <Parent Key="e44c8963-ad23-4955-9ae6-cf53152cbb57">Categories of data subjects</Parent>
    <Path>/Records/PrefefinedProperties/CategoriesOfDataSubjects/FormerEmployees</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryOfDataSubject</ContentType>
    <CreateDate>2021-09-02T11:20:31</CreateDate>
    <NodeName Default="Former employees" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <descriptionDA>
      <Value><![CDATA[]]></Value>
    </descriptionDA>
    <descriptionEN>
      <Value><![CDATA[]]></Value>
    </descriptionEN>
    <iTSystems>
      <Value><![CDATA[]]></Value>
    </iTSystems>
    <processingActivities>
      <Value><![CDATA[]]></Value>
    </processingActivities>
    <riskLevels>
      <Value><![CDATA[]]></Value>
    </riskLevels>
    <suggested>
      <Value><![CDATA[]]></Value>
    </suggested>
    <title_da>
      <Value><![CDATA[Tidligere ansatte]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Former employees]]></Value>
    </title_en>
  </Properties>
</Content>