<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca0f2836-a882-4357-8a84-8f506ffc7b5d" Alias="General Staff Management" Level="5">
  <Info>
    <Parent Key="df4ea61b-84d4-4424-a87a-cf3c1be6152b">Common</Parent>
    <Path>/Records/PrefefinedProperties/PurposesOfProcessing/Common/GeneralStaffManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>purposeOfProcessing</ContentType>
    <CreateDate>2021-07-30T14:17:33</CreateDate>
    <NodeName Default="General Staff Management" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <industries>
      <Value><![CDATA[]]></Value>
    </industries>
    <iTSystems>
      <Value><![CDATA[]]></Value>
    </iTSystems>
    <processingActivities>
      <Value><![CDATA[]]></Value>
    </processingActivities>
    <riskLevels>
      <Value><![CDATA[]]></Value>
    </riskLevels>
    <suggested>
      <Value><![CDATA[]]></Value>
    </suggested>
    <title_da>
      <Value><![CDATA[Generel personaleadministration]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[General Staff Management]]></Value>
    </title_en>
  </Properties>
</Content>