<?xml version="1.0" encoding="utf-8"?>
<Content Key="61830108-2313-4b91-af94-288f8e0b2447" Alias="HR and personnel administration" Level="4">
  <Info>
    <Parent Key="75a211d8-c82e-42b7-8a23-629b2f5d88e5">Processing Activities</Parent>
    <Path>/Records/PrefefinedProperties/ProcessingActivities/HRAndPersonnelAdministration</Path>
    <Trashed>false</Trashed>
    <ContentType>processingActivity</ContentType>
    <CreateDate>2021-07-30T14:09:20</CreateDate>
    <NodeName Default="HR and personnel administration" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <descriptionDA>
      <Value><![CDATA[]]></Value>
    </descriptionDA>
    <descriptionEN>
      <Value><![CDATA[]]></Value>
    </descriptionEN>
    <industries>
      <Value><![CDATA[umb://document/b3f143fb29ca412b94332a62ef639f20]]></Value>
    </industries>
    <riskLevels>
      <Value><![CDATA[umb://document/e2fa972f16e5452484bd381215650000]]></Value>
    </riskLevels>
    <suggested>
      <Value><![CDATA[1]]></Value>
    </suggested>
    <title_da>
      <Value><![CDATA[HR and personnel administration]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[HR and personnel administration]]></Value>
    </title_en>
  </Properties>
</Content>