<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f26380e-b1a4-4025-ab76-15ceef89bb85" Alias="IT-Systems" Level="3">
  <Info>
    <Parent Key="d4fd5ecc-58b5-43be-810a-96d079cbdeea">Prefefined properties</Parent>
    <Path>/Records/PrefefinedProperties/ITSystems</Path>
    <Trashed>false</Trashed>
    <ContentType>iTSystemFolder</ContentType>
    <CreateDate>2021-07-30T14:21:12</CreateDate>
    <NodeName Default="IT-Systems" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>