<?xml version="1.0" encoding="utf-8"?>
<Content Key="54fe1669-dae8-4da2-9e04-3ba93450eb50" Alias="IT-Systems" Level="4">
  <Info>
    <Parent Key="ba5f30b5-6f48-4f9c-9b90-8bda6f2bf08d">Record as a Controller</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAController/ITSystems</Path>
    <Trashed>false</Trashed>
    <ContentType>chapter</ContentType>
    <CreateDate>2021-08-31T13:41:29</CreateDate>
    <NodeName Default="IT-Systems" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <source>
      <Value><![CDATA[umb://document/4f26380eb1a44025ab7615ceef89bb85]]></Value>
    </source>
    <title_da>
      <Value><![CDATA[IT-Systemer]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[IT-Systems]]></Value>
    </title_en>
  </Properties>
</Content>