<?xml version="1.0" encoding="utf-8"?>
<Content Key="23684c40-3aca-497c-ada6-3f2a5947f02c" Alias="IT-Systems" Level="4">
  <Info>
    <Parent Key="f69e9f04-6a4a-4f3e-8780-97fea44d921c">Record as a Processor</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAProcessor/ITSystems</Path>
    <Trashed>false</Trashed>
    <ContentType>chapter</ContentType>
    <CreateDate>2021-08-31T13:41:36</CreateDate>
    <NodeName Default="IT-Systems" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <title_da>
      <Value><![CDATA[IT-Systemer]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[IT-Systems]]></Value>
    </title_en>
  </Properties>
</Content>