<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d27962a-2f41-4a9f-9c3c-c93bf4079902" Alias="Joint Controllers" Level="4">
  <Info>
    <Parent Key="ba5f30b5-6f48-4f9c-9b90-8bda6f2bf08d">Record as a Controller</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAController/JointControllers</Path>
    <Trashed>false</Trashed>
    <ContentType>chapter</ContentType>
    <CreateDate>2021-08-31T13:41:54</CreateDate>
    <NodeName Default="Joint Controllers" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <title_da>
      <Value><![CDATA[Joint Controllers]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Joint Controllers]]></Value>
    </title_en>
  </Properties>
</Content>