<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2528511-248b-4c47-bb27-12e87363f6e6" Alias="Legal Basis" Level="4">
  <Info>
    <Parent Key="f69e9f04-6a4a-4f3e-8780-97fea44d921c">Record as a Processor</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAProcessor/LegalBasis</Path>
    <Trashed>false</Trashed>
    <ContentType>chapter</ContentType>
    <CreateDate>2021-08-31T13:41:03</CreateDate>
    <NodeName Default="Legal Basis" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <title_da>
      <Value><![CDATA[Legal Basis]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Legal Basis]]></Value>
    </title_en>
  </Properties>
</Content>