<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2fa972f-16e5-4524-84bd-381215650000" Alias="Neutral" Level="3">
  <Info>
    <Parent Key="d9e057f6-f177-4849-8fbb-77c4f632465a">Risk-Levels</Parent>
    <Path>/Settings/RiskLevels/Neutral</Path>
    <Trashed>false</Trashed>
    <ContentType>riskLevel</ContentType>
    <CreateDate>2021-09-08T14:24:15</CreateDate>
    <NodeName Default="Neutral" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[Neutral]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Neutral]]></Value>
    </title_en>
  </Properties>
</Content>