<?xml version="1.0" encoding="utf-8"?>
<Content Key="110ec523-fb6b-4c1b-bf4d-00b3f399af6b" Alias="Not erasied during employment" Level="4">
  <Info>
    <Parent Key="7d14f985-c2a4-4dc9-86f4-59ddcf686cad">Events</Parent>
    <Path>/Settings/ErasurePolicies/Events/NotErasiedDuringEmployment</Path>
    <Trashed>false</Trashed>
    <ContentType>predefinedEvent</ContentType>
    <CreateDate>2021-08-31T12:10:43</CreateDate>
    <NodeName Default="Not erasied during employment" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[Slettes ikke under ansættelsesforhold]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Not erasied during employment]]></Value>
    </title_en>
  </Properties>
</Content>