<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ea0ed5d-30a3-4520-8883-e6a4d0eeabe0" Alias="Notifications" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Notifications</Path>
    <Trashed>false</Trashed>
    <ContentType>notificationsFolder</ContentType>
    <CreateDate>2021-07-30T13:36:14</CreateDate>
    <NodeName Default="Notifications" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>