<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0a5c723-f65a-4e88-b909-2baf3fcb1221" Alias="Organizations" Level="2">
  <Info>
    <Parent Key="a607eb3a-e8a3-4251-9172-c72aa09a7946">Organizations</Parent>
    <Path>/Organizations/Organizationa</Path>
    <Trashed>false</Trashed>
    <ContentType>organizationFolder</ContentType>
    <CreateDate>2021-09-08T10:01:06</CreateDate>
    <NodeName Default="Organizations" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>