<?xml version="1.0" encoding="utf-8"?>
<Content Key="a607eb3a-e8a3-4251-9172-c72aa09a7946" Alias="Organizations" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Organizations</Path>
    <Trashed>false</Trashed>
    <ContentType>organizationsFolder</ContentType>
    <CreateDate>2021-07-30T13:35:39</CreateDate>
    <NodeName Default="Organizations" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>