<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0a69b58-9256-4bb4-b15d-6d42e73c68f6" Alias="Periods" Level="3">
  <Info>
    <Parent Key="17f159e2-4f9f-40de-ac31-e06872b3ab70">Erasure Policies</Parent>
    <Path>/Settings/ErasurePolicies/Periods</Path>
    <Trashed>false</Trashed>
    <ContentType>predefinedPeriodsFolder</ContentType>
    <CreateDate>2021-08-31T12:12:32</CreateDate>
    <NodeName Default="Periods" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>