<?xml version="1.0" encoding="utf-8"?>
<Content Key="bad5062a-4835-436a-9f0c-8ffaf73e3336" Alias="Personal Data" Level="3">
  <Info>
    <Parent Key="d4fd5ecc-58b5-43be-810a-96d079cbdeea">Prefefined properties</Parent>
    <Path>/Records/PrefefinedProperties/PersonalData</Path>
    <Trashed>false</Trashed>
    <ContentType>personalDataFolder</ContentType>
    <CreateDate>2021-08-31T09:37:34</CreateDate>
    <NodeName Default="Personal Data" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>