<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4fd5ecc-58b5-43be-810a-96d079cbdeea" Alias="Prefefined properties" Level="2">
  <Info>
    <Parent Key="6a01eda2-5ed7-4d6b-849e-9af20569d9c9">Records</Parent>
    <Path>/Records/PrefefinedProperties</Path>
    <Trashed>false</Trashed>
    <ContentType>properties</ContentType>
    <CreateDate>2021-07-30T13:49:18</CreateDate>
    <NodeName Default="Prefefined properties" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>