<?xml version="1.0" encoding="utf-8"?>
<Content Key="77a488fe-c8bb-4c08-9d0a-aec09d59a8f4" Alias="Processing Activities" Level="4">
  <Info>
    <Parent Key="ba5f30b5-6f48-4f9c-9b90-8bda6f2bf08d">Record as a Controller</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAController/ProcessingActivities</Path>
    <Trashed>false</Trashed>
    <ContentType>chapter</ContentType>
    <CreateDate>2021-08-31T13:43:18</CreateDate>
    <NodeName Default="Processing Activities" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <title_da>
      <Value><![CDATA[Processing Activities]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Processing Activities]]></Value>
    </title_en>
  </Properties>
</Content>