<?xml version="1.0" encoding="utf-8"?>
<Content Key="26eac667-cf90-4c40-8601-84375e95e8e7" Alias="Processing Activities" Level="4">
  <Info>
    <Parent Key="f69e9f04-6a4a-4f3e-8780-97fea44d921c">Record as a Processor</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAProcessor/ProcessingActivities</Path>
    <Trashed>false</Trashed>
    <ContentType>chapter</ContentType>
    <CreateDate>2021-08-31T13:43:25</CreateDate>
    <NodeName Default="Processing Activities" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <title_da>
      <Value><![CDATA[Processing Activities]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Processing Activities]]></Value>
    </title_en>
  </Properties>
</Content>