<?xml version="1.0" encoding="utf-8"?>
<Content Key="91ad52a3-8d82-4f5f-bf3a-9421073c4a7c" Alias="Processor" Level="3">
  <Info>
    <Parent Key="ac6062d5-48d7-4ce2-a98c-d4e9279aacf7">Roles</Parent>
    <Path>/Organizations/Roles/Processor</Path>
    <Trashed>false</Trashed>
    <ContentType>organizationRole</ContentType>
    <CreateDate>2021-08-31T12:51:38</CreateDate>
    <NodeName Default="Processor" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[Data Behandler]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Processor]]></Value>
    </title_en>
  </Properties>
</Content>