<?xml version="1.0" encoding="utf-8"?>
<Content Key="75a211d8-c82e-42b7-8a23-629b2f5d88e5" Alias="Processing Activities" Level="3">
  <Info>
    <Parent Key="d4fd5ecc-58b5-43be-810a-96d079cbdeea">Prefefined properties</Parent>
    <Path>/Records/PrefefinedProperties/ProcessingActivities</Path>
    <Trashed>false</Trashed>
    <ContentType>processingActivityFolder</ContentType>
    <CreateDate>2021-07-30T14:08:30</CreateDate>
    <NodeName Default="Processing Activities" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>