<?xml version="1.0" encoding="utf-8"?>
<Content Key="d81d04bb-17fa-4b69-bd70-ab098f0d8117" Alias="Purposes of processing" Level="3">
  <Info>
    <Parent Key="d4fd5ecc-58b5-43be-810a-96d079cbdeea">Prefefined properties</Parent>
    <Path>/Records/PrefefinedProperties/PurposesOfProcessing</Path>
    <Trashed>false</Trashed>
    <ContentType>purposesOfProcessingFolder</ContentType>
    <CreateDate>2021-07-30T14:16:22</CreateDate>
    <NodeName Default="Purposes of processing" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>