<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba5f30b5-6f48-4f9c-9b90-8bda6f2bf08d" Alias="Record as a Controller" Level="3">
  <Info>
    <Parent Key="fdeede14-4e2c-46cd-9802-23a575205356">Record Definitions</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAController</Path>
    <Trashed>false</Trashed>
    <ContentType>recordDefinition</ContentType>
    <CreateDate>2021-07-30T13:53:01</CreateDate>
    <NodeName Default="Record as a Controller" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[Fortegnelse som "Behandler"]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Record as a Controller]]></Value>
    </title_en>
  </Properties>
</Content>