<?xml version="1.0" encoding="utf-8"?>
<Content Key="f69e9f04-6a4a-4f3e-8780-97fea44d921c" Alias="Record as a Processor" Level="3">
  <Info>
    <Parent Key="fdeede14-4e2c-46cd-9802-23a575205356">Record Definitions</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAProcessor</Path>
    <Trashed>false</Trashed>
    <ContentType>recordDefinition</ContentType>
    <CreateDate>2021-07-30T13:52:51</CreateDate>
    <NodeName Default="Record as a Processor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[]]></Value>
    </title_en>
  </Properties>
</Content>