<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f2e10ce-d563-4ca0-a90b-d7293dbeefeb" Alias="Risk Area" Level="3">
  <Info>
    <Parent Key="fcd671f8-955d-410c-84b0-be5076f1db75">Contry Categories</Parent>
    <Path>/Settings/ContryCategories/RiskArea</Path>
    <Trashed>false</Trashed>
    <ContentType>countryCategory</ContentType>
    <CreateDate>2021-08-31T11:58:26</CreateDate>
    <NodeName Default="Risk Area" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>