<?xml version="1.0" encoding="utf-8"?>
<Content Key="468a2ccf-7342-417f-a7dd-83d5101c31b0" Alias="Security" Level="4">
  <Info>
    <Parent Key="ba5f30b5-6f48-4f9c-9b90-8bda6f2bf08d">Record as a Controller</Parent>
    <Path>/Records/RecordDefinitions/RecordAsAController/Security</Path>
    <Trashed>false</Trashed>
    <ContentType>chapter</ContentType>
    <CreateDate>2021-08-31T13:40:31</CreateDate>
    <NodeName Default="Security" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <source>
      <Value><![CDATA[]]></Value>
    </source>
    <title_da>
      <Value><![CDATA[Security]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Security]]></Value>
    </title_en>
  </Properties>
</Content>