<?xml version="1.0" encoding="utf-8"?>
<Content Key="08c67d86-5dbe-44e1-a64a-36e7ea33a9e7" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsFolder</ContentType>
    <CreateDate>2021-07-30T13:36:05</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>