<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb0ab0b9-cc25-4dd4-9f10-7f1d49cf0747" Alias="Sub-processor to us" Level="3">
  <Info>
    <Parent Key="ac6062d5-48d7-4ce2-a98c-d4e9279aacf7">Roles</Parent>
    <Path>/Organizations/Roles/SubProcessorToUs</Path>
    <Trashed>false</Trashed>
    <ContentType>organizationRole</ContentType>
    <CreateDate>2021-08-31T12:52:10</CreateDate>
    <NodeName Default="Sub-processor to us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[Under-behandler til os]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Sub-processor to us]]></Value>
    </title_en>
  </Properties>
</Content>