<?xml version="1.0" encoding="utf-8"?>
<Content Key="22cd2fdf-199e-47e3-8783-ad3d6ab49763" Alias="Sub-processor to our processor" Level="3">
  <Info>
    <Parent Key="ac6062d5-48d7-4ce2-a98c-d4e9279aacf7">Roles</Parent>
    <Path>/Organizations/Roles/SubProcessorToOurProcessor</Path>
    <Trashed>false</Trashed>
    <ContentType>organizationRole</ContentType>
    <CreateDate>2021-08-31T12:53:35</CreateDate>
    <NodeName Default="Sub-processor to our processor" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title_da>
      <Value><![CDATA[Sub-processor to our processor]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[Sub-processor to our processor]]></Value>
    </title_en>
  </Properties>
</Content>