<?xml version="1.0" encoding="utf-8"?>
<Content Key="27e8db7d-b330-492f-bb2b-552f3ea88aab" Alias="Tasks" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tasks</Path>
    <Trashed>false</Trashed>
    <ContentType>tasksFolder</ContentType>
    <CreateDate>2021-07-30T13:35:54</CreateDate>
    <NodeName Default="Tasks" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>