<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbc08519-c69a-47e3-9525-282128e07c62" Alias="Test" Level="4">
  <Info>
    <Parent Key="4f26380e-b1a4-4025-ab76-15ceef89bb85">IT-Systems</Parent>
    <Path>/Records/PrefefinedProperties/ITSystems/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>iTSystem</ContentType>
    <CreateDate>2021-09-20T10:51:59</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <descriptionDA>
      <Value><![CDATA[]]></Value>
    </descriptionDA>
    <descriptionEN>
      <Value><![CDATA[]]></Value>
    </descriptionEN>
    <industries>
      <Value><![CDATA[]]></Value>
    </industries>
    <riskLevels>
      <Value><![CDATA[umb://document/b7b20e1fe0b14f79866e42dc24b9cc8f]]></Value>
    </riskLevels>
    <suggested>
      <Value><![CDATA[0]]></Value>
    </suggested>
    <title_da>
      <Value><![CDATA[]]></Value>
    </title_da>
    <title_en>
      <Value><![CDATA[]]></Value>
    </title_en>
  </Properties>
</Content>