<?xml version="1.0" encoding="utf-8"?>
<Content Key="e32fa153-5435-4a11-b89e-d04091cb7f98" Alias="TEST" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TEST</Path>
    <Trashed>false</Trashed>
    <ContentType>processingActivityFolder</ContentType>
    <CreateDate>2021-09-08T15:03:36</CreateDate>
    <NodeName Default="TEST" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties />
</Content>